{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "indent": "off",
    "eol-last" : "off",
    "padded-blocks": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "constructor-super": "off",
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}